<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calender Events</title>
</head>
<body>
<h1>Calender Events for User: <span th:text="${user_id}"></span></h1>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Start Day</th>
        <th>End Day</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${calenderDTOList}">
        <td th:text="${event.title}">Title</td>
        <td th:text="${event.content}">Content</td>
        <td th:text="${event.startDay}">Start Day</td>
        <td th:text="${event.endDay}">End Day</td>
    </tr>
    </tbody>
</table>
</body>
</html>
